/* .display-details-container {
    text-align: center;
    padding: 20px;
  }
  
  .success-message {
    color: green;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .additional-message {
    margin-top: 20px;
    font-size: 1rem;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
   */