.set-new-password-container {
  background-color: #1a2a4b;
  text-align: center;
  margin: auto;
  height: 100vh; /* Full viewport height */
  width: 100%; 
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line {
  margin-bottom: 1px;
}

.mandatory-message11 {
  color: white;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 10px;
}

.set-password-button {
  width: 350px;
  padding: 18px;
  background-color: darkgrey;
  color: rgb(244, 240, 240);
  border: none;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  margin-top: 20px;
}

.set-password-button:hover {
  background-color: #0a5f97;
  font-size: larger;
}

.login-form2 {
  background-color: rgb(255, 255, 255);
  position: relative;
  height: auto;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  padding: 20px;
  margin-left: -20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pass12 {
  margin-bottom: 0px;
  font-size: x-large;
}

.field1 input, .field2 input, .field3 input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-bottom: 2px slategray;
  text-decoration: underline;
  border: none;
  height: 55px;
}

.edit22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.error-message, .success-message {
  margin-top: 10px;
  transition: all 0.5s;
}

.success-message {
  color: green;
}

.log {
  margin-bottom: 20px;
}
